<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add   name="entities"  connectionString="data source=DESKTOP-A7V9EG0\SQLEXPRESS;initial catalog=tp2;integrated security=True;"    providerName="System.Data.SqlClient" />

		<add name="UI.Desktop2.Properties.Settings.tp2ConnectionString" connectionString="Data Source=DESKTOP-A7V9EG0\SQLEXPRESS;Initial Catalog=tp2;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="Entidades" connectionString="metadata=res://*/database.Model1.csdl|res://*/database.Model1.ssdl|res://*/database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A7V9EG0\SQLEXPRESS;initial catalog=tp2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Entidad" connectionString="metadata=res://*/database.Model1.csdl|res://*/database.Model1.ssdl|res://*/database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A7V9EG0\SQLEXPRESS;initial catalog=tp2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>