body {
    background-color: #E8DAEF;
}

#Login {
    height: 463px;
    margin-top: 0px;
}

    #Login #seccion {
        margin-top: 6em;
        margin-left: 14em;
        font-size: 25px;
    }

#l {
    margin-left: 2em;
    margin-bottom: 15px;
}

input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
    height: 20px;
}

.boton_personalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    margin-left: 15px;
    border: 2px solid #0016b0;
}

    .boton_personalizado:hover {
        color: #1883ba;
        background-color: #ffffff;
    }

#botones {
    margin-left: 4em;
    height: 31px;
}

    #botones > a {
        margin-right: 2em;
    }
