<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=DESKTOP-NSKK8Q3; Initial Catalog=C:\Users\labar\OneDrive\Escritorio\Net TP2 ; Integrated Security = true" providerName=" Microsoft.Data.SqlClient"> </add>
	</connectionStrings>
</configuration>