body {
    background-color: #E8DAEF;
}

#formulario
{
    margin-left:12em;
    margin-top:5em;
}
.btnagrega  {
    margin-right: 2em;
}
.btnmodificar {
    margin-right: 2em;
}

.mover
{
    margin-left:3em;
}

.mover {
    margin-left: 2em;
}
#Botones {
    margin-top:1.3em;
    margin-bottom:4em;
}

.gridStyles, th, td {
    border: 3px solid black;
    background-color: #E7CFF0;
}

.gridStyles  th {
    padding-left: 2em;
    padding-right: 2em;
    height: 20px;
    color:  cornflowerblue;
}

.gridStyles ,td
{
    justify-content:center;
    padding-left: 50px;

    
}

.gridStyles  a {
    padding-right: 55px;
    float: left
    
}

.gridStyles {
    border-color: black;
    border-collapse: separate;
    border-spacing: 15px 10px;
    color: black;
    font-family:  'Dosis', sans-serif;
}

    #titulo
    {
        font-family:'Times New Roman', Times, serif;
        margin-left: 4em;
        font-size: 3em;
    }