body {
    background-color: #E8DAEF;
}

#Login {
    height: 463px;
    margin-top: 0px;
    margin-bottom:10em !important;
}

    #Login #seccion {
        margin-top: 6em;
        margin-left: 14em;
        font-size: 25px;
    }

#l {
    margin-left: 2em;
    margin-bottom: 15px;
}

input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
    height: 40px;
    width: 250px;
}



#botones {
    margin-left: 2em;
    text-decoration: none;
}


.boton {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
    top: -14px;
    left: -18px;
    text-decoration: none;
    margin-right:25px;
}

    .boton:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transition: all 0.45s ease;
    }

    .boton:hover:before {
        width: 100%;
    }

#botones > button {
    margin-right: 2em;
}


.superponer {
    display: block;
    margin-left: 14em;
    position: absolute;
    margin-bottom: 4em !important;
    font-size: 1.6em;
    color: red;
}

.label_superpuesta {
    position: relative;
    z-index: 10;
    margin-left: 14em;
    display: block;
    font-size: 1.6em;
    color: red;
    margin-bottom: 4em !important;
    top: 5px;
    left: -15px;
}
