body {
}
#listas
{
    display:block;
    width:15em;
    height:6.2em;
    overflow-y:scroll;
    margin-left :40%;
    margin-top:2em;
    border: 1px solid black;  
    font-size: 1.2em;
}

    #listas li {
        margin-bottom: 1em;
    }

#listas li a
{
    color: dodgerblue;
 
     
}