body {
}
.posicion{
    margin-left: 6em;
}
.botones {
    margin-left: 14em;
}

.error {
    color: red;
    margin-left: 9em;
}

.gv, th, td {
    border: 3px solid black;
    background-color: #E7CFF0;
}

    .gv th {
        padding-left: 2em;
        padding-right: 2em;
        height: 20px;
        color: cornflowerblue;
    }

.gv, td {
    justify-content: center;
    padding-left: 50px;
}

    .gv a {
        padding-right: 55px;
        float: left
    }

.gv {
    border-color: black;
    border-collapse: separate;
    border-spacing: 15px 10px;
    color: black;
    margin-left: 8em;
    font-family: 'Dosis', sans-serif;
}
.descripcion{ margin-left:8em;
              margin-top:2em;
}
descripcion_titulo {
    margin-left: 8em;
    margin-top: 2em;
    font-size:1.8em;
}
.boton{
    margin-right:25px;
}